<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="sylesheet" type="text/css"/>
</head>
    <body>
        <header th:replace="layout/plantilla  :: header"/>
        <div class="contenido">
            <h2>Listado de Clientes</h2>
            <a th:href="@{/articulo/nueva}">Nuevo Articulo</a>
            <div th:if="${articulos != null and !categorias.empety}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Activa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulos : ${articulos}">
                            <td th:text="${articulos.descripcion}"></td>
                            <td th:text="$numbers.formatDecimal(articulo.precio,3,2}" stylw="text-align: right"></td>
                            <td th:text="${articulo.existencias}" style="text-align: center"></td>
                            <td><input type="checkbok" name="activa" th:checked="${articulo.activo}" disabled="true"></td>
                            <td><a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}">Eliminar</a></td>
                            <td><a th:hred="@{/articulo/modificar/} + ${articulo.idArticulo}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="$articulos == null or articulos.empty}">
                No tenemos articulos que mostrar....
            </div>
        </div>
        <footer th:replace="layout/plantilla  :: footer"/>
    </body>
</html>
